 

<ion-view title="Home Screen" hide-nav-bar="true" id="page2" style="background-color:#000;" class="">
  <ion-floating-button click="myEvent()" has-footer="false" button-color="#ef473a" icon="ion-plus" iconColor="#fff">
</ion-floating-button>
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <div class="headerImage" style="margin-left: -10px; width: calc(100% + 20px);">
            <img src="img/ISj82RhQJWzAFNez4ZzO_2jaguarftypesvrfeb16.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            <h1 class="imagetxt">My F-Type</h1>
            <ion-nav-buttons side="left">
             <!-- Toggle left side menu -->
             <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
            </ion-nav-buttons>
        </div>
        <div class="list card " id="homeScreen-card21">
            <ion-item class="item-icon-left assertive  " id="homeScreen-list-item1" ui-sref="app.journey1">
                <i class="icon ion-model-s"></i>Dubai Track Day<div class="right date">27/03/2016</div></ion-item>
            <div class=" item item-image">
                <iframe src="maps/map.html?set=1" style="width:100%;height:420px;"></iframe>
            </div>
            <div class="item item-body " id="homeScreen-list-item-container1">
                <p id="homeScreen-null" style="margin-top:0px;color:#000000;" class=" ">
                  <Strong>Distance:</Strong> 28 km     <strong>Top Speed:</strong> 170 km/h
                </p>
            </div>
        </div>

        <div class="list card " id="homeScreen-card21">
            <ion-item class="item-icon-left assertive  " id="homeScreen-list-item1" ui-sref="tabsController.cartTabDefaultPage">
                <i class="icon ion-model-s"></i>Commute to work<div class="right date">10/02/2016</div></ion-item>
            <div class=" item item-image">
				<iframe src="maps/map.html?set=2" style="width:100%;height:420px;"></iframe>
            </div>
            <div class="item item-body " id="homeScreen-list-item-container1">
                <p id="homeScreen-null" style="margin-top:0px;color:#000000;" class=" ">
                  <Strong>Distance:</Strong> 28 km     <strong>Top Speed:</strong> 170 km/h
                </p>
            </div>
        </div>

        <div class="list card " id="homeScreen-card21">
            <ion-item class="item-icon-left assertive  " id="homeScreen-list-item1" ui-sref="tabsController.cartTabDefaultPage">
                <i class="icon ion-model-s"></i>Day in the city<div class="right date">03/01/2016</div></ion-item>
            <div class=" item item-image">
				<iframe src="maps/map.html?set=3" style="width:100%;height:420px;"></iframe>
            </div>
            <div class="item item-body " id="homeScreen-list-item-container1">
                <p id="homeScreen-null" style="margin-top:0px;color:#000000;" class=" ">
                  <Strong>Distance:</Strong> 28 km     <strong>Top Speed:</strong> 170 km/h
                </p>
            </div>
        </div>

    <!-- the menu content -->
  </ul>
    </ion-content>
</ion-view>
