<style>
.overlay {
   background:transparent;
   position:relative;
   width:100%;
   height:400px;
   top:400px;
   margin-top: -400px;
}

</style>

<ion-view title="Home Screen" hide-nav-bar="true" id="page2" style="background-color:#000;" class="">
  <a ng-href="/#/app/journey"><ion-floating-button ui-sref="app.journey" click="" has-footer="false" button-color="#ef473a" icon="ion-flag" iconColor="#fff"></a>
</ion-floating-button>
    <ion-content padding="true" class="manual-ios-statusbar-padding">


        <div class="headerImage" style="margin-left: -10px; width: calc(100% + 20px);">
            <img src="img/ISj82RhQJWzAFNez4ZzO_2jaguarftypesvrfeb16.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            <h1 class="imagetxt">Lets Drive</h1>
            <ion-nav-buttons side="left">
             <!-- Toggle left side menu -->
             <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
            </ion-nav-buttons>
        </div>
        <div class="list card " id="homeScreen-card21">
            <ion-item class="item-icon-left assertive  " id="homeScreen-list-item1" ui-sref="app.journey1">
                <i class="icon ion-ios-analytics"></i>Based on your driving</ion-item>
                <div class="item item-body">
        <img class="full-image fillCanvas" src="img/catnfid.jpg">
        <p>
          The A54 – A537 from Buxton to Macclesfield is the “Cat and Fiddle” named after the pub which lays at the summit, and what must be the most famous road around the Peak District particularly for bikers.
        </p>
        <p>
          <a href="#" class="subdued">10 Likes</a>
          <a href="#" class="subdued">36 Drives</a>
        </p>
      </div>
        </div>

        <div class="list card " id="homeScreen-card21">
            <ion-item class="item-icon-left assertive  " id="homeScreen-list-item1" ui-sref="app.journey1">
                <i class="icon ion-ios-analytics"></i>Other drivers also liked</ion-item>
                <div class="item item-body">
        <img class="full-image fillCanvas" src="img/cheddar.jpg">
        <p>
          This is another great driving road situated in the West Country and is a route that incorporates the Cheddar Gorge. This road is just 10 miles south-west of Bristol and 8 miles east of Weston-Super-Mare.
        </p>
        <p>
          <a href="#" class="subdued">30 Likes</a>
          <a href="#" class="subdued">128 Drives</a>
        </p>
      </div>
        </div>

    <!-- the menu content -->
    </ion-content>
</ion-view>
