<ion-view title="Dubai Track Day" hide-nav-bar="true" style="background-color:#000; color: white;" id="page2" class="">
<ion-content scroll="false" overflow-scroll="true">
      <ion-slides  options="options" slider="data.slider">
        <ion-slide-page>
		  <h1 style="color: white;">Speed</h1>
          <iframe src="maps/map.html?set=1&q=speed" style="width:100%;height:400px;"></iframe>
</ion-slide-page>
        <ion-slide-page>
		  <h2>Gear</h2>
          <iframe src="maps/map.html?set=1&q=gear" style="width:100%;height:400px;"></iframe>
        </ion-slide-page>
        <ion-slide-page>
		  <h2>Throttle</h2>
          <iframe src="maps/map.html?set=1&q=throttle" style="width:100%;height:400px;"></iframe>
        </ion-slide-page>
      </ion-slides>
  </ion-list>


</ion-content>
</ion-view>
