<ion-view title="Journey Mode" id="page2" style="background-color:#000;" class="">
<ion-content class="has-footer">
	<iframe src="progressbar\progressbar.html" width="100%" height="700px" style="margin-top: 100px"></iframe>
</ion-content>
<ion-footer-bar align-title="left" class="bar-assertive" style="height: 90px; display:flex; align-items: center; justify-content: center;">
  <a class="camera" href="#/app/live" style="color: #ffffff; background: #ef473a; width: 100%; display:flex; align-items: center; justify-content: center;"><i class="icon ion-ios-videocam-outline"></i></a> 
</ion-footer-bar>
</ion-view>
