<body>
<ion-view title="Milestones" id="page2" style="background-color:#000;" class="platform-cordova">
<ion-content>


<img src = "img/redJag.jpg" style="width:100%; height=20%;">
<ul class="list"	>
    <li class="item" style="color: white; background-color:red; text-align:center; width:100%; margin: black">
      Achieved Milestones
    </li>
</ul>

<iframe scrolling="no" frameborder="0" src="/progressbar/achievedprogressbar.html" width="100%" height="100%"  ></iframe>



<ul class="list" style="margin-top:50px;">
    <li class="item" style="color: white; background-color:red; text-align:center; width:100% border:grey">
      Sport Milestones
    </li>
</ul>

<iframe scrolling="no" frameborder="0" src="/progressbar/sportprogressbar.html" width="100%" height="100%"  ></iframe>


<ul class="list" style="margin-top:50px;">
    <li class="item" style="color: white; background-color:red; text-align:center; width:100%">
      Endurance Milestones
    </li>
</ul>

<iframe scrolling="no" frameborder="0" src="/progressbar/sportprogressbar.html" width="100%" height="100%"  ></iframe>

<ul class="list" style="margin-top:50px;">
    <li class="item" style="color: white; background-color:red; text-align:center; width:100%">
      Ecology Milestones
    </li>
</ul>

<iframe scrolling="no" frameborder="0" src="/progressbar/sportprogressbar.html" width="100%" height="100%"  ></iframe>

</ion-content>
</ion-view>


<script type="text/javascript">
document.addEventListener("DOMContentLoaded", function(event) {
function setColor(btn,color){

var button = document.getElementById(btn);
button.style.backgroundColor="#FF0000";
}
);



</script>


</body>