/* Empty. Add your own CSS if you like */

#container5, #container2, #container3, #container4 {
  position: relative;
  left: 50%;
  margin-left: -35px;
  float: center;
  height: 70px;
  width: 70px;
}

#progressBarContainer {
  width: 80%;
  height: 200px;
  position: relative;
  float: center;
}

.col {
	width: 19%;
	float: left;
	padding: 0 3%;
}

.wrapper img {
	position: absolute;
	top: 10px;
	left: 10px;
	height: 50px;
	width: 50px;
	z-index: -99;
}

wrapper > img {
    /* Needs appropriate vendor prefixes */
    box-sizing: border-box;
    margin-bottom: 10px;
    /* This needs to be equal to strokeWidth */
    padding: 4%;
}

.wrapper span {
	margin-top: 15px;
	width: 100%;
	text-align: center;
	display: block;
	color: white;
	font-family: "-apple-system", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
}

h4{
	position: relative;
	top: 30px;
	padding: 0 30px;
	text-align: justify;
	color: white;
	font-family: "-apple-system", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
	font-variant: small-caps;
}

p{
	position: relative;
	top: 15px;
	padding: 0 30px;
	text-align: justify;
	color: white;
	font-family: "-apple-system", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
	font-size: 10pt;
}