/* Empty. Add your own CSS if you like */

#container5, #container2, #container3, #container4 {
  position: relative;
  float: center;
  height: 70px;
  width: 70px;
}

#progressBarContainer {
  width: 80%;
  height: 200px;
  position: relative;
  float: center;
}

#container2 {
	color:#873CBD;
}

#container3 {
	color:#35B21B;
}

#container4{
	color:#4E77BD;
}

.col {
	width: 19%;
	float: left;
	margin: 0 3%;
}

.wrapper img {
	position: absolute;
	top: 10px;
	left: 10px;
	height: 50px;
	width: 50px;
	z-index: -99;
}

wrapper > img {
    /* Needs appropriate vendor prefixes */
    box-sizing: border-box;
    margin-bottom: 10px;
    /* This needs to be equal to strokeWidth */
    padding: 4%;
}

.wrapper span {
	width: 100%;
	text-align: center;
	display: block;
	color: white;
}