/* Empty. Add your own CSS if you like */

#container1, #container2, #container3, #container4 {
  margin: 200px;
  width: 80%;
  height: 100px;
  position: relative;
  float: center;
}

#container2 {
	color:#873CBD;
}

#container3 {
	color:#35B21B;
}

#container4{
	color:#4E77BD;
}


.col {
	width: 33%;
	float: left;
}

#speedImage {
	margin-top:-5px;
	margin-left:-.5px;
	
}


.wrapper > #container1, .wrapper > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 5.1%;
    height: 50%;
	z-index: -99;
}

wrapper > img {
    /* Needs appropriate vendor prefixes */
    box-sizing: border-box;
    margin-bottom: 10px;
    /* This needs to be equal to strokeWidth */
    padding: 4%;
}